<ul>
  {{#each items}}
    <li>{{this.name}}</li>
    <div>
      <form action="/users/{{../user.id}}/items/{{this.id}}?_method=DELETE" method="POST">
        <input type="submit" value="Delete Item"/>
      </form>
    </div>
    <br/>
  {{/each}}

  <!-- create a "Add new item" link to lead to a NEW controller action
  that will render a new.hbs view -->
  <div>
  	<a href="/users/{{user.id}}/items/new">Add New Item</a>
  </div>
</ul>
