<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My New Page</title>
    <meta name="description" content=" What kind of content are you talking about?">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" PLACE NORMALIZE CSS FIRST BEFORE YOURS TO RESET CSS .css">
    <link rel="stylesheet" type="text/css" href=" YOUR CSS EXTERNAL FILE PATH .css">

    <script src="   YOUR EXTERNAL JS FILE GOES HERE!!  .js"></script>

</head>
    <body>



<header><h2>Header</h2></header>
<section>

    <h1>PokemondexExpress</h1>

    	{{{ body }}}

</section>




    </body>
</html>


