<!-- Use the layout page as the home page -->

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Pirate App</title>
</head>
	<body>

		{{{body}}}

	</body>
</html>
